<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
    <title>MeetEnjoy</title>
</head>

<body>
<div class="videos">
    <div>
        <video id="localVideo" autoplay muted playsinline></video>
        <div class="soundbar"><span class="currentVolume"></span></div>
    </div>
</div>

<br/>
<div id="connections"></div>

<script src="{{ url_for('static', filename = 'socket.io/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename = 'config.js') }}"></script>
<script src="{{ url_for('static', filename = 'webrtc.js') }}"></script>

<script type="text/javascript">
    pageReady();
</script>

</body>
</html>
